@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*
{
	box-sizing: border-box;
	font-family: 'Amatic SC' ,  cursive;	
    font-weight: 200;
    margin: 0;
    padding: 0;
    
}
body
{
	background: #ffc600;
	height: 100vh;
	width: 100%;
}
.panels
{
	background: #6B0F9C;
	display:flex;	
	height: 100%;
	width: 100%;
	overflow:hidden;
	object-fit:cover;	
}
.panel
{
	flex:1;
	display:flex;
	flex-direction:column;
	height:100%;	
	justify-content:space-around;
	text-align: center;		
	color:#fff;
	background-size: cover;/*設置圖片大小，cover:縮放背景圖片到可以完全覆蓋背景圖片區*/
    background-position: center;/*為每個圖片設置初始位置，顯示圖片的哪個位置: top, left, bottom, right, center*/
	transition: .5s;
	white-space:nowrap;
}
.panel1 
{ 
	background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); 
}
.panel2 
{ 
	background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); 
}
.panel3 
{ 
	background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); 
}
.panel4 
{ 
	background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); 
}
.panel5 
{ 
	background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); 
}

.panel p
{
	width: 100%;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
	transition: transform 0.5s;
}
.panel p:nth-child(1)
{
	font-size: 2em;
	transform:translateY(-400%);
	
}
.panel p:nth-child(2)
{	
	font-size: 4em;
}
.panel p:nth-child(3)
{
	font-size: 2em;
	transform:translateY(400%);
	
	
}
.open
{	
	flex:3;
	font-size: 2em;
}
.open-active p:nth-child(1)
{
	font-size: 2em;
	transform:translateY(0%);
}
.open-active p:nth-child(3)
{
	font-size: 2em;
	transform:translateY(0%);
}